:root {
    /* 调整整个布局（页面）的最大宽度，包含侧边栏和内容区，默认是 1440px */
    --vp-layout-max-width: 1600px;
    /* 左侧导航宽度，默认 240px */
    --vp-sidebar-width: 290px;
}

/* 防抖动：始终预留滚动条空间 */
html {
    scrollbar-gutter: stable;
    overflow-y: auto;
}

/* 自定义WebKit浏览器的滚动条 */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}
::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, 0.4) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, 0.4) 0, hsla(0, 0%, 100%, 0.4) 75%, transparent 0, transparent);
    border-radius: 2em;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* 为Firefox自定义滚动条 */
* {
    scrollbar-width: thin; /* 适用于Firefox */
    scrollbar-color: #49b1f5 rgba(73, 177, 245, 0.2); /* 适用于Firefox */
}

/* 1. 重置带行号代码块的外层左内边距 */
.vp-doc div[class*='language-'] code {
    padding: 0 2rem !important;
}

/* 2. 重新定义行号区域的宽度和样式 */
.vp-doc .line-numbers-wrapper {
    width: 3.5rem; /* 行号区域的宽度，可根据需要调整 */
    padding-left: 0rem; /* 行号文字与左边的距离 */
    border-right: 1px solid var(--vp-code-block-divider-color); /* 可选：保留分割线 */
}